# Lists in Python with Examples

## 1. Lists

Lists are used to store multiple items in a single variable.

Create a List:

In [1]:
citieslist = ["Dublin", "Cork", "Galway"]
print(citieslist)

['Dublin', 'Cork', 'Galway']

List items are ordered, changeable, and allow duplicate values.

### Built in Functions on lists

#### 1. append():  method appends an element to the end of the list.

In [2]:
citieslist.append("Belfast")
print(citieslist)

['Dublin', 'Cork', 'Galway', 'Belfast']

In [3]:
Ukcities=["London, Manchester"]
citieslist.append(Ukcities)
print(citieslist)

['Dublin', 'Cork', 'Galway', 'Belfast', ['London, Manchester']]

#### 2. copy() : The copy() method returns a copy of the specified list.

clist=citieslist.copy()
print(clist)

#### 3.  count(): Return the number of times the a passed values appears in the given list

In [6]:
citieslist.count("Dublin")

1

#### 4.  pop(): Remove the indexed element of the  list

A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [8]:
citieslist.pop(4)  # removes 5th element which is the another list

['London, Manchester']

In [9]:
citieslist

['Belfast', 'Cork', 'Dublin', 'Galway']

#### 5. sort: Sort the list alphabetically

In [10]:
citieslist.sort()

In [11]:
citieslist

['Belfast', 'Cork', 'Dublin', 'Galway']

In [13]:
citieslist.append("Donegal")

In [14]:
citieslist

['Belfast', 'Cork', 'Dublin', 'Galway', 'Donegal']

In [15]:
citieslist.sort()

In [16]:
citieslist

['Belfast', 'Cork', 'Donegal', 'Dublin', 'Galway']

#### 6. reverse(): Reverses the order of the list

In [17]:
citieslist.reverse()
citieslist

['Galway', 'Dublin', 'Donegal', 'Cork', 'Belfast']

#### 7. remove(): Removes passed element from the  list

In [18]:
citieslist.remove("Donegal")
citieslist

['Galway', 'Dublin', 'Cork', 'Belfast']

#### 8. insert(): Insert the value in  " " at the passed on index  of the fruit list, 0 means start

In [20]:
citieslist.insert(0, "Wexford")
citieslist

['Wexford', 'Galway', 'Dublin', 'Cork', 'Belfast']

#### 9. index(): Find index of a value in the index, only returns the first occurrence of the value.

In [21]:
citieslist.index("Cork")

3

#### 10. extend: Add the elements of one list to the the other list, instead of just append a list as does the APPEND method

In [22]:
citieslist

['Wexford', 'Galway', 'Dublin', 'Cork', 'Belfast']

In [23]:
smallcities=["Sligo", " Killerny "]

In [24]:
citieslist.extend(smallcities)
citieslist

['Wexford', 'Galway', 'Dublin', 'Cork', 'Belfast', 'Sligo', ' Killerny ']

#### 11. clear(): remove everthing from the list

In [25]:
citieslist.clear()
citieslist

[]