#This Notebook describes how variable names can be initiated in Python:

---

##Rules: 

1. Can only start with a letter or an underscore
2. A variable does not start with a number
3. only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. variables are case-sensitive (salary, Salary and SALARY are three different variables)
5. Must not be a Python keyword([click here to see](https://www.w3schools.com/python/python_ref_keywords.asp))

Examples: Correct ones:✅

In [1]:
var1 = "Taimur"
var_1 = "Taimur"
_var_1 = "Taimur"
vaR1 = "Taimur"
VAR1 = "Taimur"
var2 = "Taimur"

In [2]:
print(var1)
print(var_1)
print(_var_1)
print(vaR1)
print(VAR1)
print(var2)

Taimur
Taimur
Taimur
Taimur
Taimur
Taimur

Examples: incorrect:❌

In [4]:
2var = "Hafeez"   # Can not start with number
my-var = "Hafeez" # Can not put any other symbol than underscore in a variable name
my var = "Hafeez" #Space not allowed between letters of a variable name

SyntaxError: ignored