# Sets in Python with Examples

Sets are used to store multiple items in a single variable. They are unordered, unchangeable*, and unindexed.

1. Sets are unchangeable like tuples
2. Can remove and items like lists

## 1. Creating a Set

In [1]:
set1 = {"BMW", "Audi", "Mercedez"}
print(set1)

{'BMW', 'Mercedez', 'Audi'}

## 2. Duplicates not allowed: They are ignored

In [3]:
set1 = {"BMW", "Audi", "Mercedez", "BMW"}
print(set1)

{'BMW', 'Mercedez', 'Audi'}

### 2.1 True and "1" are considered duplicates too.

In [5]:
set1 = {"BMW", "Audi", "Mercedez", True, 1,2}
print(set1)

{True, 2, 'BMW', 'Audi', 'Mercedez'}

## 3. Checking length of a set

In [6]:
set1 = {"BMW", "Audi", "Mercedez"}
print(len(set1))

3

## 4. Supports mixture of data types

In [7]:
set1 = {"BMW", 2009, True, 2.0}
print(set1)

{2009, 2.0, 'BMW', True}

## 5. Using set constructor to make a set

In [8]:
set2=set(("Äudi", "BWM", "Porsche"))
print(set2)

{'BWM', 'Äudi', 'Porsche'}

## 6. Accessing Items of Sets: <small><font color=red>Does NOT support indexing!</font></small>

### 6.1 Using For Loops to access items

In [14]:
set2=set(("Äudi", "BWM", "Porsche"))
for x in set2:
    print(x)

BWM
Äudi
Porsche

### 6.2 Checking if a set contains some passed value

In [16]:
set1 = {"BMW", "Audi", "Mercedez"}
if "BMW"in set1:
    print("Ÿes contains BMW")

Ÿes contains BMW

## 7. Adding a new Element to a set

In [17]:
set1 = {"BMW", "Audi", "Mercedez"}
set1.add("Toyota")
print(set1)

{'Toyota', 'BMW', 'Mercedez', 'Audi'}

## 8. Adding element of one set to another

In [18]:
set1 = {"BMW", "Audi", "Mercedez"}
set2 = {"Toyota", "Suzuki", "Honda"}
set1.update(set2)
print(set1)

{'Suzuki', 'Honda', 'Audi', 'Toyota', 'BMW', 'Mercedez'}

### 8.1 Adding lists to sets

In [19]:
set1= {"BMW", "Audi", "Mercedez"}
list1=[2010, 2011, 2012]
set1.update(list1)
print(set1)

{2012, 'Audi', 'Mercedez', 2010, 2011, 'BMW'}

## 9. Remove Elements

In [21]:
set1= {"BMW", "Audi", "Mercedez"}
set1.remove("Audi")
print(set1)

{'BMW', 'Mercedez'}

### <font color=red> Problem: </font> if item being removed does not exit, it pops an error

In [22]:
set1.remove("Audi")

KeyError: 'Audi'

### <font color=green> Solution: </font> Use <font color=blue>discard()</font> method instead of remove

In [23]:
set1= {"BMW", "Mercedez"}
set1.discard("Audi")
print(set1)

{'BMW', 'Mercedez'}

## 10. Deleting Sets

In [24]:
set1= {"BMW", "Mercedez"}
del set1
print(set1)

NameError: name 'set1' is not defined

## 11. Joing sets with <font color=blue>union()</font> function

method returns a new set with all items from both sets

In [25]:
set1= {"BMW", "Mercedez"}
set2 = {"Toyota", "Suzuki", "Honda"}
set3=set1.union(set2)
print(set3)

{'Suzuki', 'Honda', 'Toyota', 'BMW', 'Mercedez'}

## 12. Intersection of sets: with <font color=blue>intersection_update()</font> function

Keep the items that exist in both set1, and set2

In [26]:
set1= {"BMW", "Mercedez"}
set2 = {"BMW", "Suzuki", "Honda"}
set1.intersection_update(set2)
print(set1)

{'BMW'}

### 12.1 Intersection of sets: with <font color=blue>intersection()</font> function

method will return a new set, that only contains the items that are present in both sets.

In [27]:
set1= {"BMW", "Mercedez"}
set2 = {"BMW", "Suzuki", "Honda"}
set3=set1.intersection(set2)
print(set3)

{'BMW'}

## 13. Keeping on non-duplicate value: with <font color=blue>symmetric_difference()</font> function

method will return a new set, that contains only the elements that are present only in one of them.

In [28]:
set1= {"BMW", "Mercedez"}
set2 = {"BMW", "Suzuki", "Honda"}
set3=set1.symmetric_difference(set2)
print(set3)

{'Suzuki', 'Mercedez', 'Honda'}